<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="paypal.png"/>
    <title>Se connecter à Paypal</title>
	<head>
		<section id="section-navbar">
			<nav id="navbar">
				<a routerLink="home">
			<!-- <img id="logo-paypal" src="logo-paypal.png"> -->
		  </a>
				<div class="navbar-links">
					<ul>
						<li><a href="dashboard">Tableau de bord</a></li>
					</ul>
				</div>
			</nav>
		  </section>
	</head>

  <link href="Style/style.css" rel="stylesheet">
</head>

<body>
	<section id="monitoring-section">
		<h2 id="padding">Vous vous êtes fait avoir !</h2>
	</section>
	<section class="data-container padding justify">
        <p class="padding justify characterLimit">En effet, en cliquant sur ce lien et en entrant vos informations confidentielles, 
            vous nous avez donné la possibilité de vous nuir. Heureusement pour vous, nous avons réalisé ce site
            pour faire de la mise en garde, et pour sensibiliser le plus de personnes possibles.
            A ce titre, aucune de vos informations ne seront transmises, vendues, ou conservées.
            Nous vous invitons néanmoins à faire plus attention la prochaine fois où vous lirez vos mails.
            Plusieurs indices comme l'expéditeur, la présentation ou encore l'URL du lien peuvent vous mettre
            la puce à l'oreille et dévoiler les intentions cachées derrière un simple mail.
        </p>
	</section>

	<script src="Script/script.js"></script>
</body>
</html>